<app-menu></app-menu>

<div class="row">
  <div class="col">
    <div class="row prod-card">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="text-center" style="width:5%">#No</th>
            <th class="text-center" style="width:30%">Product</th>
            <th class="text-center" style="width:25%">Quantity</th>
            <th class="text-center" style="width:20%">Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of items; let i = index">

            <td class="text-center" data-th="#No">
              <strong>{{ i+1 }}</strong>
            </td>

            <td (click)="getWine(item)" data-toggle="modal" data-target=".wineModal" class="text-center" data-th="Product">
              <strong>{{ item.wine_name }}</strong>
            </td>

            <td class="text-center" data-th="Quantity">
              <strong>{{ item.quantity }}</strong>
            </td>

            <td class="text-center" data-th="Price">
                <strong>{{ item.price }} Lei/Liter</strong>
            </td>

            <td>
                <button (click)="deleteProduct(item, i)" class="btn border border-danger rounded delete-button"><i class="far fa-trash-alt"></i> Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade wineModal" tabindex="-1" role="dialog" aria-labelledby="wineModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 *ngIf='!editMode' class="modal-title">{{ currentWine.wine_name }}</h3>
          <input *ngIf='editMode' [(ngModel)]='currentWine.wine_name' class="form-control">
        </div>

        <div class="modal-body">
          <div class="col">
            <div class="row">
              <div class="col-md-4 text-center">
                <h5><strong>Type</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.type }}</strong>
                <button *ngIf='editMode' class="btn border border-warning rounded dropdown-toggle drop-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ currentWine.type }}
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" (click)="chooseType('None')">None</a>
                     <a class="dropdown-item" (click)="chooseType('Dry')">Dry</a>
                     <a class="dropdown-item" (click)="chooseType('Semi-Dry')">Semi-Dry</a>
                     <a class="dropdown-item" (click)="chooseType('Sweet')">Sweet</a>
                     <a class="dropdown-item" (click)="chooseType('Semi-Sweet')">Semi-Sweet</a>
                   </div>
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>Residual Sugar</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.residual_sugar }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.residual_sugar' class="form-control">
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>Density</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.density }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.density' class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 text-center">
                <h5><strong>Fixed Acidity</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.fixed_acidity }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.fixed_acidity' class="form-control">
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>Chlorides</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.chlorides }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.chlorides' class="form-control">
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>pH</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.pH }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.pH' class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 text-center">
                <h5><strong>Volatile Acidity</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.volatile_acidity }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.volatile_acidity' class="form-control">
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>Free Sulfur Dioxide</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.free_sulfur_dioxide }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.free_sulfur_dioxide' class="form-control">
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>Sulphates</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.sulphates }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.sulphates' class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 text-center">
                <h5><strong>Citric Acid</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.citric_acid }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.citric_acid' class="form-control">
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>Total Sulfur Dioxide</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.total_sulfur_dioxide }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.total_sulfur_dioxide' class="form-control">
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>Alcohol</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.alcohol }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.alcohol' class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 text-center">
                <h5><strong>Quality</strong></h5>
                <strong>{{ currentWine.quality }}</strong>
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>Price</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.price }} Lei/Liter</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.price' class="form-control">
              </div>
              <div class="col-md-4 text-center">
                <h5><strong>Color</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.color }}</strong>
                <button *ngIf='editMode' class="btn border border-warning rounded dropdown-toggle drop-btn" type="button" id="dropdownMenuButtonColor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ currentWine.color }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonColor">
                  <a class="dropdown-item" (click)="chooseColor('None')">None</a>
                  <a class="dropdown-item" (click)="chooseColor('White')">White</a>
                  <a class="dropdown-item" (click)="chooseColor('Rose')">Rose</a>
                  <a class="dropdown-item" (click)="chooseColor('Red')">Red</a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 text-center">
                <h5><strong>Quantity</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.quantity }}</strong>
                <input *ngIf='editMode' [(ngModel)]='currentWine.quantity' class="form-control">
              </div>
              <div class="col-md-8 text-center">
                <h5><strong>Wine Description</strong></h5>
                <strong *ngIf='!editMode'>{{ currentWine.description }}</strong>
                <textarea *ngIf='editMode' [(ngModel)]='currentWine.description' class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
            <button *ngIf='!editMode' (click)='enableEditMode()' type="button" class="btn btn-primary">Edit</button>
            <button *ngIf='editMode' (click)='saveChanges()' type="button" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>