<nav class="navbar fixed-top navbar-expand-sm bg-warning navbar-light nav-shadow" >
    <div class="navbar-header">
        <h5>VincuDor</h5>
    </div>

    <ul class="navbar-nav nav-left">
      <li class="nav-item nav-border">
        <a class="nav-link">        
          <strong><i class="fas fa-user-circle"></i> Profile</strong> 
        </a>
      </li>

      <li class="nav-item nav-border">
          <a class="nav-link">
            <strong><i class="fas fa-clipboard-list"></i> Dashboard</strong> 
          </a>
        </li>
  
      <li class="nav-item nav-border">
        <a class="nav-link">
            <strong><i class="fas fa-wine-glass-alt"></i> My Products</strong> 
        </a>
      </li>
  
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product/insert']">
              <strong><i class="fas fa-plus"></i> Add Product</strong> 
          </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-right">
        <li class="nav-item">
            <a class="nav-link nav-border">
              <strong><i class="fas fa-shopping-cart"></i>My Cart</strong>  
            </a>
        </li>
        <li class="nav-item log-out">
          <a class="nav-link">
            <strong><i class="fas fa-sign-out-alt"></i> Logout</strong>  
          </a>
        </li>
    </ul>

  
</nav>