<app-menu></app-menu>>

<div class="container">
  <ngx-ui-loader logoUrl="..\..\assets\vincudor-logo.png" logoSize="240" blur="10" text="Loading..."></ngx-ui-loader>
  <div class="row">
    <div class="col">
      <div class="card add-card">
          <div class="row-md-2 add-section">
              <strong><h3>Product Name</h3></strong>
              <hr>
              <label *ngIf="showNameError" style="color: red;">Please enter a name for your product!</label>
              <input [(ngModel)]="productName" class="form-control">
          </div>

          <div class="row-md-6 add-section">
              <strong><h3>Properties</h3></strong>
              <label *ngIf="showPropertiesError" style="color: red;">You have to complete all the properties!</label>
              <hr>
              <div class="col-md-4">
                <div class="row-md-3">
                  <strong>Type</strong><br *ngIf="showTypeError">
                  <label *ngIf="showTypeError" style="color: red;">Please choose a type for your product!</label>
                  <div class="dropdown">
                      
                      <button class="btn border border-warning rounded dropdown-toggle drop-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {{ type }}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="chooseType('None')">None</a>
                        <a class="dropdown-item" (click)="chooseType('Dry')">Dry</a>
                        <a class="dropdown-item" (click)="chooseType('Semi-Dry')">Semi-Dry</a>
                        <a class="dropdown-item" (click)="chooseType('Sweet')">Sweet</a>
                        <a class="dropdown-item" (click)="chooseType('Semi-Sweet')">Semi-Sweet</a>
                      </div>
                    </div>
                </div>
                <div class="row-md-3">
                  <strong>Fixed Acidity</strong>
                  <input [(ngModel)]="fixedAcidity" class="form-control">
                </div>
                <div class="row-md-3">
                  <strong>Volatile Acidity</strong>
                  <input [(ngModel)]="volatileAcidity" class="form-control">
                </div>
                <div class="row-md-3">
                  <strong>Citric Acid</strong>
                  <input [(ngModel)]="citricAcid" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="row-md-3">
                  <strong>Residual Sugar</strong>
                  <input [(ngModel)]="residualSugar" class="form-control">
                </div>
                <div class="row-md-3">
                  <strong>Chlorides</strong>
                  <input [(ngModel)]="chlorides" class="form-control">
                </div>
                <div class="row-md-3">
                  <strong>Free Sulfur Dioxide</strong>
                  <input [(ngModel)]="freeSulfurDioxide" class="form-control">
                </div>
                <div class="row-md-3">
                  <strong>Total Sulfur Dioxide</strong>
                  <input [(ngModel)]="totalSulfurDioxide" class="form-control">
              </div>
              </div>
              <div class="col-md-4">
                <div class="row-md-3">
                  <strong>Density</strong>
                  <input [(ngModel)]="density" class="form-control">
                </div>
                <div class="row-md-3">
                  <strong>pH</strong>
                  <input [(ngModel)]="pH" class="form-control">
                </div>
                <div class="row-md-3">
                  <strong>Sulphates</strong>
                  <input [(ngModel)]="sulphates" class="form-control">
                </div>
                <div class="row-md-3">
                    <strong>Alcohol</strong>
                    <input [(ngModel)]="alcohol" class="form-control">
                </div>
              </div>
          </div>

          <button (click)="generateQuality()" class="btn border border-warning rounded qty-button">Calculate Quality</button>

          <div *ngIf="calculateQuality" class="row-md-4 add-section">
              <strong><h3>Details</h3></strong>
              <hr>
              <div class="col-md-4">
                  <strong>Calculated Quality</strong><br>
                  <strong class="qlty-value">{{ quality }}</strong>
              </div>
              <div class="col-md-4">
                  <strong>Price</strong><br *ngIf="showPriceError">
                  <label *ngIf="showPriceError" style="color: red;">Please enter a price for your product!</label>
                  <ng-template #popContent>You have to choose a price between: <b *ngIf="quality == 'Poor'">5 and 9 lei/L</b>
                    <b *ngIf="quality == 'Medium'">10 and 15 lei/L</b>
                    <b *ngIf="quality == 'High'">16 and 20 lei/L</b></ng-template>
                  <ng-template #popTitle><b>Your wine's quality is: <b style="color: red;">{{ quality }}</b></b></ng-template>
                  <input (keyup)='setPrice($event)' [ngbPopover]="popContent" [popoverTitle]="popTitle" [(ngModel)]="price" class="form-control">
              </div>
              <div class="col-md-4">
                  <strong>Quantity</strong><br>
                  <span (click)="qtyMinus()" class="qty-span quantity">
                    <strong><i class="fas fa-minus"></i></strong>
                  </span>
                    <input [(ngModel)]="quantity" class="form-control qty-input">
                  <span (click)="qtyPlus()" class="qty-span">
                    <strong><i class="fas fa-plus"></i></strong>
                  </span>
              </div>
              
              <div class="col-md-4">
                <strong>Color</strong><br *ngIf="showColorError">
                <label *ngIf="showColorError" style="color: red;">Please enter a color for your product!</label>
                <div class="dropdown">
                  
                  <button class="btn border border-warning rounded dropdown-toggle drop-btn" type="button" id="dropdownMenuButtonColor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ color }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonColor">
                    <a class="dropdown-item" (click)="chooseColor('None')">None</a>
                    <a class="dropdown-item" (click)="chooseColor('White')">White</a>
                    <a class="dropdown-item" (click)="chooseColor('Rose')">Rose</a>
                    <a class="dropdown-item" (click)="chooseColor('Red')">Red</a>
                  </div>
                </div>  
                </div>
              <div class="col-md-8">
                <strong>Description</strong>
                <textarea [(ngModel)]='description' class="form-control" rows="4"></textarea>
              </div>
          </div>
          
          <button *ngIf="calculateQuality" (click)="addProduct()" class="btn border border-success rounded insert-button">Add Product</button>
          
      </div>
    </div>
  </div>
</div>
