.prod-card{
    border: 0;
    border-radius: 1rem;
    box-shadow: 2px 0px 8px black;
    overflow: hidden;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 5%;
    background-color: white;
}

h5{
    display: inline;
    margin-right: 2%;
}

.img-product{
    width: 100%;
    height: 100%;
}

.review-star{
    margin-right: 2%;
}

.add-to-cart .btn-qty {
    width: 52px;
    height: 46px;
}

.add-to-cart .btn { 
    border-radius: 0; 
}

.btn-sm{
    margin-top: 2%;
    border-radius: 0;
}

.btn-full-width{
    background-color: rgba(211, 175, 55, 0.753);
}

.qty-input{
    width: 30%;
    display: inline;
}

.info-prod .row{
    margin-top: 3%;

}

.nav-pills{
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    width:15%;
}

.nav-pills .nav-link{
    color: rgba(211, 175, 55, 0.753) !important;
}

.nav-pills .active{
    background-color: #ffc107 !important;
    color: black !important;
    font-weight: bold;
} 

.tab-content{
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.commentRow {
    flex-direction:column;
}
.commentArea {
    border:1px solid gery;
    width:70%;
    border-radius:15px;
}

.commentForm {
    display:flex;
    flex-direction:column;
}

.submitBtn {
    width:20%;
    background-color:#ffc107;
    border-radius:10px;
    color:#000;
    margin-top:10px;
}

.allComments {
    margin-bottom:50px;
}

.commRow {
    margin-top:5%;
}

.replyCooment {
    margin: 5% 0 5% 20%;
}
.replyooment textarea {
    width:50% !important;
}