<app-menu></app-menu>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card profile-card">
        <div class="row profile-content">
          <div class="col-md-4">
            <div class="row-md-4">
              <strong>First Name</strong>
              <h5>{{ user.first_name }}</h5>
            </div>

            <div class="row-md-4">
                <strong>City</strong>
                <h5>{{ user.city }}</h5>
            </div>

            <div class="row-md-4">
              <strong>Email</strong>
              <h5>{{ user.email }}</h5>
            </div>
          </div>

          <div class="col-md-4">
              <div class="row-md-4">
                  <strong>Last Name</strong>
                  <h5>{{ user.last_name }}</h5>
              </div>
  
              <div class="row-md-4">
                <strong>Phone Number</strong>
                <h5>{{ user.phone_number }}</h5>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
