<app-menu></app-menu>

<div class="row">
  <div class="col">
    <div class="row dash-card">
      <div *ngFor="let item of items; let i = index" class="col-md-3 float-right item-card">
        <div class="card" style="width: 18rem;">
          <img (click)="seeItemDetails(item)" class="card-img-top" src="..\..\assets\{{item.color.toLowerCase()}}.jpg" alt="Card image cap">

          <div (click)="seeItemDetails(item)" class="card-body">
            <h5 class="card-title">{{item.wine_name}}</h5>
          </div>

          <ul (click)="seeItemDetails(item)" class="list-group list-group-flush">
            <li class="list-group-item">{{item.price}} Lei/Liter</li>
            <li class="list-group-item"><i *ngFor="let i of [1,2,3,4,5]" class="far fa-star review-star"></i> (0/5)</li>
            <li class="list-group-item">
              <span class="col-md-6 float-left">
                  {{item.color}}
              </span>
              <span class="col-md-6 float-right">
                  {{item.type}}
              </span>
            </li>
          </ul>

          <div class="text-center cart-cont">
              <h4 class="to-cart">Add to Cart <i class="fas fa-shopping-cart"></i></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
