<app-menu></app-menu>

<div class="row">
  <div class="col">
    <div class="row dash-card">
      <ngx-ui-loader logoUrl="..\..\assets\vincudor-logo.png" logoSize="240" blur="10" text="Loading..."></ngx-ui-loader>

      <div class="filter-container">
        <input [(ngModel)] = "searchCriteria" (change)="search()" class="form-control wine-search" placeholder="Search...">
        <ng5-slider class="slider-search" [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChangeEnd)="onPriceChange($event)"></ng5-slider>

        <div class="dropdown float-right">
        
            <a class="dropdown-toggle nav-link border border-warning rounded" id="easyMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">    
              {{ categoryFilter }}
            </a>
            <div class="dropdown-menu" aria-labelledby="easyMenu">
              <a (click) = "selectCategory('Dry')" class="dropdown-item">Dry</a>
              <a (click) = "selectCategory('Semi-Dry')" class="dropdown-item">Semi-Dry</a>
              <a (click) = "selectCategory('Sweet')" class="dropdown-item">Sweet</a>
              <a (click) = "selectCategory('Semi-Sweet')" class="dropdown-item">Semi-Sweet</a>
            </div>
        </div>

        <div class="dropdown float-right">
        
            <a class="dropdown-toggle nav-link border border-warning rounded" id="easyMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">               
              {{ colorFilter }}
            </a>
            <div class="dropdown-menu" aria-labelledby="easyMenu">
              <a (click) = "selectColor('Red')" class="dropdown-item">Red</a>
              <a (click) = "selectColor('Rose')" class="dropdown-item">Rose</a>
              <a (click) = "selectColor('White')" class="dropdown-item">White</a>
            </div>
        </div>
        
      </div>

      <div *ngIf="activeFilter" class="rem-filter">
          <strong (click)="removeFilter()"><i class="fas fa-undo"></i> Remove filter</strong>
      </div>

      <div *ngFor="let item of items; let i = index" class="col-md-3 float-right item-card">
        <div class="card card-cont" style="width: 18rem;">
          <img (click)="seeItemDetails(item)" class="card-img-top" src="..\..\assets\{{item.color.toLowerCase()}}.jpg" alt="Card image cap">

          <div (click)="seeItemDetails(item)" class="card-body">
            <h5 class="card-title">{{item.wine_name}}</h5>
          </div>

          <ul (click)="seeItemDetails(item)" class="list-group list-group-flush">
            <li class="list-group-item">{{item.price}} Lei/Liter</li>
            <li class="list-group-item"><i *ngFor="let i of [1,2,3,4,5]" [ngStyle]="{'color':i <= item.avgReview ? 'yellow' : 'black' }" class="fas fa-star review-star"></i> ({{item.avgReview}}/5)</li>
            <li class="list-group-item">
              <span class="col-md-6 float-left">
                  {{item.color}}
              </span>
              <span class="col-md-6 float-right">
                  {{item.type}}
              </span>
            </li>
          </ul>

          <div class="text-center cart-cont">
              <h4 class="to-cart" (click)="addToCart(item.wine_id)">Add to Cart <i class="fas fa-shopping-cart"></i></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
